// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom Default
.text-black{
	color: black;
}
.pointer{
	cursor: pointer;
}
.no-border{
	border: none;
}